/* Removes unwanted styling from the page */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;
}

.navbar {
  padding-top:26px ;
  padding-bottom: 26px;

  padding-left:60px;
  padding-right:60px;
  display:flex;

}

/* Write your code below this */